body {
    font-family: roboto, sans-serif;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}

.nav {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    padding: 4px 150px;
}
ul {
    list-style-type: none;
    gap: 16px;
    display: flex;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
a:hover {
    color: #3882F6;
}
.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #1f2937;
    padding: 75px 150px;
}
.main div {
    max-width: 45%;
    min-width: 50%;
}
.main img {
    height: 220px;
    display: flex;
}
.main h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}
.main p {
    color: #e5e7eb;
    font-size: 18px;    
}
button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    color: white;
    padding: 8px 28px;
    font-size: 18px;
    max-width: max-content;
    min-width: max-content;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    margin: 86px;
}


.container-text {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 36px;
}
.container {
    width: 150px;
}

.cards img {
    width: 150px;
    border-radius: 8px;
}

.quote {
    text-align: left;
    background: #e5e7eb;
    font-size: 24px;
    color: #1f2937;
    padding: 64px 350px;
    font-style: italic;
    font-weight: 100;
}
.author {
    color: #1F2937;
    text-align: right;
    font-style: normal;
    font-weight: 500;
}

.cta {
    background-color: #3882F6;
    margin: auto;
    padding: 64px 100px;
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E5E7EB;
    flex-direction:
}

.cta button {
    border: 2px solid white;

}
.call-to-action {

    margin: 100px;
}

.title {

    display: flex;
    flex-direction: column;
    line-height: 1%;
}

.title p {
    color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: #E5E7EB;
    padding: 32px;

}